<footer class="container-fluid bg-light p-3 text-center">
        
                <div class="container">
                  <div class="row pt-3 pb-3">
                    <div class="col-md-4 text-center spelet 4 i rad">
                    </div>
                    <div class="col-md-4 text-center connect">
                    </div>
                    <div class="col-md-4 icons text-center">
                      <div class="d-inline-block">
                        <a href="#" class="text-white facebook">
                          <i class="big-icon fab fa-facebook"></i></a>
                      </div>
                      <div class="d-inline-block px-3">
                        <a href="#" class="text-white">
                          <i class="big-icon fab fa-twitter-square"></i></a>
                      </div>
                      <div class="d-inline-block">
                        <a href="#" class="text-white">
                          <i class="big-icon fab fa-snapchat"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Row ends here-->
              

    © 2018 NodeHill, MIT licensed
</footer>