<footer class="container-fluid bg-dark py-1">
        
                <div class="container">
                  <div class="row pt-3 pb-3">
                    <div class="col-md-2 text-left Spelet4text">
                        <p class="text-white">© Spelet 4 i Rad</p> 
                    </div>
                    <div class="col-md-4 text-center connect">
                        <p class="text-white">Connect with us on networks :</p> 
                    </div>
                    <div class="col-md-4 icons text-right">
                      <div class="d-inline-block">
                        <a href="#" class="text-white facebook">
                          <i class="big-icon fab fa-facebook"></i></a>
                      </div>
                      <div class="d-inline-block px-3">
                        <a href="#" class="text-white">
                          <i class="big-icon fab fa-twitter-square"></i></a>
                      </div>
                      <div class="d-inline-block">
                        <a href="#" class="text-white">
                          <i class="big-icon fab fa-snapchat"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Row ends here-->
              

   
</footer>