<footer class="container-fluid bg-dark p-3 text-center">
    
        <div class="container">
                <div class="row pt-3 pb-3">
                  <div class="col-md-4 text-center Connectfour">
                    <p class="text-white test">Address: ConnectFour, Lund</p>
                  </div>
                  <div class="col-md-4 text-center connect">
                    <p class="text-white test1">Email: group1@connectFour.com </p>
                  </div>
                  <!-- <div class="col-md-4 icons text-center">
                    <div class="d-inline-block">
                      <a href="#" class="text-white facebook">
                        <i class="big-icon fab fa-facebook"></i></a>
                    </div>
                    <div class="d-inline-block px-3">
                      <a href="#" class="text-white">
                        <i class="big-icon fab fa-twitter-square"></i></a>
                    </div>
                    <div class="d-inline-block">
                      <a href="#" class="text-white">
                        <i class="big-icon fab fa-snapchat"></i></a>
                    </div>
                  </div> -->
                  <div class="col-md-4 text-center connect">
                    <p class="text-white test1">Telephon: 0735XXXXXX </p>
                  </div>
                </div>
              </div>
    
</footer>