<div class="dav-game-board">
  ${this.gameBoard.board}
  <div class="current-player">
    Current player: ${this.playerName}
  </div>
  <div class="modal win-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Game Over</h5>
        </div>
        <div class="modal-body">
          <p class="final-line">Merry Christmas ${this.winner}, you are the winner!</p>
          <p class="final-line">You did it in ${this.winCount} moves</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="restartButton btn btn-primary" data-dismiss="modal">Restart game</button>
          <button type="button" class="link-button btn btn-secondary showScore" href="/high-score" data-dismiss="modal">Show highscore</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal draw-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Game Over</h5>
        </div>
        <div class="modal-body">
          <p class="final-line">It is a draw!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="restartButton btn btn-primary" data-dismiss="modal">Restart game</button>
          <button type="button" class="link-button btn btn-secondary showScore" href="/high-score" data-dismiss="modal">Show highscore</button>
        </div>
      </div>
    </div>
  </div>
</div>