<section class = "game-rules">

    <div class = "container-fluid" id = "game-rules">
      <h3>Four in a Row - General game info</h3>
    </div>

    <div class = "portletHeader"> Four in a Row - Rules </div>
    <div class = "gameRuleDesc"> 
        <p>
            It is the goal of the game to connect four of your tokens in a line. 
            All directions (vertical, horizontal, diagonal) are allowed. 
            Players take turns putting one of their tokens into one of the seven slots. 
            A token falls down as far as possible within a slot.The player with the 
            red tokens begins. The game ends immediately when the first player connected
            four stones.

        </p>
    </div>
    
</section>