<section class="game-rules">

    <div class="jumbotron text-center" id="game-rules">
        <h1>Four in a Row - General game</h1>
        <p>
            It is the goal of the game to connect four of your tokens in a line.
            All directions (vertical, horizontal, diagonal) are allowed.
            Players take turns putting one of their tokens into one of the seven slots.
            A token falls down as far as possible within a slot.The player with the
            red tokens begins. The game ends immediately when the first player connected
            four stones.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Object of the game</h3>
                <img src="../images/objectofthegame.jpg">
            </div>
            <div class="col-sm-4">
                <h3>Mid column for first move</h3>
                <img src="../images/midcolforfirstmove.jpg" style="width:100%">
            </div>
            <div class="col-sm-4">
                <h3>Another bottom with second move</h3>
                <img src="../images/anobottwithsecmove.jpg" style="width:100%">
            </div>
        </div>
    </div>
    
</section>