<section>
    <form>
        <h3>Player 1</h3>
        <div class="form-row">
            <div class="col-6>">
                <input type="text" class="form-control" placeholder="Type your name">
            </div>
            <div class="col-6">
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Choose type...</option>
                            <option value="1">Player</option>
                            <option value="2">Computer</option>
                        </select>
                    </div>
                </div>
            </div>
            <h3>Player 2</h3>
            <div class="form-row">
                <div class="col-6">
                    <input type="text" class="form-control" placeholder="Type your name">
                </div>
                <div class="col-6">
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Choose type...</option>
                                <option value="1">Player</option>
                                <option value="2">Computer</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary link-button" href="/gameboard">Play the game</button>
    </form>
</section>