
  <div class=" game-board container-fluid">
    <div class="row">
        <div class="col slot 1">
            ${this.col1}
        </div>
        <div class="col slot 2">
            ${this.col2}
        </div>
        <div class="col slot 3">
            ${this.col3}
        </div>
        <div class="col slot 4">
            ${this.col4}
        </div>
        <div class="col slot 5">
            ${this.col5}
        </div>
        <div class="col slot 6">
            ${this.col6}
        </div>
        <div class="col slot 7">
            ${this.col7}
        </div>
    </div>

  </div>