<section class="hiscore">

    <div class="container container-hiscore">
        <table class="table table-striped table-dark">
            <tbody>
                <tr class="hiscore-box">
                    <h2 class="hiscore-title">HiScore Details</h2>
                    <th scope="col" class="player-name">Player-Namn</th>
                    <th scope="col" class="player-points">Vann Efter Drag</th>
                    <th scope="col" class="rank">Rank</th>
                </tr>
                <!-- highscore-list here -->
            </tbody>
        </table>
    </div>

</section>