<section>
    <form>
        <div class="container">
            <div class="row my-4">
                <div class="col-md-6 pl">
                    <div class="col-wrapper">
                        <h3 class="players-h3 text-center">Player 1</h3>
                        <div class="text-center">
                            <img src="/images/santa-p1.png" alt="santaclaus">
                        </div>
                        <div class="col-md-8 offset-2">
                            <input type="text" id="name1" class="form-control" placeholder="Name(2-10 characters)">
                        </div>
                        <div class="col-md-8 offset-2">
                            <select class="custom-select type-wrapper mr-sm-2" id="type1">
                                <option selected>Choose type...</option>
                                <option>Human</option>
                                <option>Computer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl">
                    <div class="col-wrapper">
                        <h3 class="players-h3 text-center">Player 2</h3>
                        <div class="text-center">
                            <img src="/images/snowman-p2.png" alt="snowman">
                        </div>
                        <div class="col-8 offset-2">
                            <input type="text" id="name2" class="type-name form-control" placeholder="Name(2-10 characters)">
                        </div>
                        <div class="col-8 offset-2">
                            <select class="custom-select type-wrapper mr-sm-2" id="type1">
                                <option selected>Choose type...</option>
                                <option>Human</option>
                                <option>Computer</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <button type="button" class="btn start-game btn-style-form btn-primary mt-5">Play the game</button>
        </div>
    </form>



    <div class="modal modal-name validate-name-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                    <p>Names must be 2 to 10 characters long.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal validate-type-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                    <p>You must choose types.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-choose-type btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</section>