<div>
  <div class="container-fluid">

    <div class="row">
      <div class="col-4">
        <h5>Welcome!</h5>
        <h6>Play the classic game connect four online.</h6>
        <button type="button" class="btn btn-secondary">Play our game</button>
      </div>
    


    
      <div class="col-8">
        <img src="/images/finbild.jpg">
      </div>
    </div>

  </div>
  <div class="row">
      <div class="col-12">
  <p><a href="https://c4arena.com">C4Arena.com</a>
  <a href="https://www.helpfulgames.com/subjects/brain-training/connect-four.html">Helpfulgames Connect4</a>
  <a href="http://www.sheppardsoftware.com/braingames/connect4/connect4.htm">Sheppard Software Connect4</a></p>
  </div>
  </div>
</div>