<div class="start-section">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-4 mb-3">
        <div class="card rounded-circle text-center mx-auto start-welcome">
          <div class="card-body">
            <br>
            <h2 class="card-title">Welcome</h2>
            <p class="card-text"><button type="button" class="btn link-button align-bottom" href="/play">Play</button><span
                class="align-bottom"> our version</span><br> of the classic game<br> connect4 online</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <div class="card rounded-circle text-center bg-danger mx-auto start-image">
          <div class="card-body">
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card rounded-circle text-center mx-auto start-links">
          <div class="card-body">
            <br>
            <h3 class="card-title">Links to <br>other games</h3>
            <a href="https://c4arena.com" class="card-link"><img src="/images/c4arena.png"></a>
            <a href="https://www.helpfulgames.com/subjects/brain-training/connect-four.html" class="card-link"><img src="/images/helpful.png"></a>
            <br>
            <a href="http://www.sheppardsoftware.com/braingames/connect4/connect4.htm" class="card-link"><img src="/images/sheppard.png"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>