<div class="start-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 start-welcome">
        <h1 class="kalle">Welcome</h1>
        <h2>Play the classic game<br> connect-four online.</h2>
        <button type="button" class="btn btn-lg btn-outline-danger link-button start-play-btn" href="/play">Play our game</button>
        <div class="row">
          <div class="col-12">
            <p class="filler">x</p>
          </div>
        </div>
        <div class="start-gamelinks">
          <h5>Links to other games</h5>
          <span><a class="start-link" href="https://c4arena.com">C4Arena.com</a>
            <a class="start-link" href="https://www.helpfulgames.com/subjects/brain-training/connect-four.html">Helpfulgames
              Connect4</a>
            <a class="start-link" href="http://www.sheppardsoftware.com/braingames/connect4/connect4.htm">Sheppard
              Software
              Connect4</a></span>
        </div>
      </div>
    </div>
  </div>
</div>