@font-face {
  font-family: snowtext;
  src: url(/fonts/DSSnowfall.ttf);
}

.dav-game-board{
    margin-top: 10px;
    background-image: url();
    max-width: 40%;
    margin: 0 auto;
    border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    border: 6px solid red;
}

@keyframes miniBounce {
  0%{ -webkit-transform:translateY(0px)rotate(-45deg);}
  30%{ -webkit-transform:translateY(-20px)rotate(-45deg) ;}
  60%{ -webkit-transform:translateY(0px)rotate(-45deg) ;}
  70%{ -webkit-transform:translateY(-5px)rotate(-45deg) ;}
  100%{ -webkit-transform:translateY(0)rotate(-45deg) ;}
}

@keyframes winningLine {
  0%{ -webkit-transform:rotate(0deg);}
  30%{ -webkit-transform:rotate(60deg) ;}
  60%{ -webkit-transform:rotate(120deg) ;}
  70%{ -webkit-transform:rotate(180deg) ;}
  100%{ -webkit-transform:rotate(360deg) ;}
}
 .slots{
//   box-sizing: border-box;
//   margin-right: 5px;
     width: calc(14.28%);
//   padding-top: calc(13%);
//   border: 1px solid black;
//   background-color:rgb(233, 233, 233);
//   border-radius: 50%;
//   cursor:pointer;
//   display:inline-block;
}

.slots > div {
  padding-top: 100%;
  position:relative;
}

.slots > div > div {
  position:absolute;
  top:10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 3px solid red;
  background-color: white;
}

.player1 {
  background-image:url('/images/redToken.png');
  background-size: cover;
}

.player2 {
  background-image:url('/images/yellowToken.png');
  background-size: cover;
}

.current-player {
  font-size: 3vw;
  text-align: center;
  font-family: snowtext;
  color: red;
}

.animate1{
  background-image:url('/images/redToken.png');
  background-size: cover;
}

.animate2{
  background-image:url('/images/yellowToken.png');
  background-size: cover;
}

.mini-bounce1{
  animation: miniBounce 0.4s ease-in-out;
}


.winning-line1{
  animation: winningLine 1s ease-in-out;
  background-image:url('/images/p1win.png');
  background-size: cover;

}
.winning-line2{
  animation: winningLine 1s ease-in-out;
  background-image:url('/images/p2win.png');
  background-size: cover;

}

@media screen and (max-width: 600px) {
  .dav-game-board {
    max-width: 95%;
  }
}

@media screen and (max-width: 768px) {
  .dav-game-board {
    max-width: 95%;
  }
}

@media screen and (max-width: 992px) {
  .dav-game-board {
    max-width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .dav-game-board {
    max-width: 95%;
  }
}
.game {
  margin-top: 20px;
}

@media only screen and (max-device-width: 640px) and (orientation: landscape) {
  .dav-game-board {
    max-width: 520px;
  }
}

@media only screen and (max-device-width: 812px) and (min-device-width: 641px) and (orientation: landscape) {
  .dav-game-board {
    max-width: 520px;
  }
}

@media only screen and (max-device-width: 823px) and (min-device-width: 812px) and (orientation: landscape) {
  .dav-game-board {
    max-width: 405px;
  }
}

@media only screen and (max-device-width: 1025px) and (min-device-width: 823px) and (orientation: landscape) {
  .dav-game-board {
    max-width: 750px;
    min-width: 750px;
  }
}