.game-rules{
    
    .jumbotron {
        background:#ffffcc;
        font-size:1.25rem;
        font-family: snowyText;
        opacity:0.6;

    }

    .container {
        position: relative;
        text-align: center;
        color: black;
        font-family: snowyText;
        opacity:0.6;
    }
   

    h3 {
        background-color: #ffffcc;
        overflow: hidden;
        padding: 20px 10px;
        font-size:1rem;
    }

    img{
        width: 100%;
        opacity:0.8;
    }

}


