.dav-game-board{
  
    background-color: red;
    padding:5px;
    border:10px green;
    border-style: ridge;
  }
  
  .slots{
    width: calc(100% / 7);
    padding-top: calc(100% / 7);  
    border: 1px solid black;
    background-color:white;
    border-radius: 50%;
    cursor:pointer;
    display:inline-block;
    
  }
  
  .player1 {
    background-image:url('/images/redToken.png');
    background-size: cover;
    
  }
  
  .player2 {
    background-image:url('/images/yellowToken.png');
    background-size: cover; 
  }
  
  .current-player {
    font-size:2vw;
    text-align: center;
  }
  