.game-box{
  width:calc(100%/7);
  padding-top: calc(50%/7);
  border: 1px solid black;
  background-color:white;
  border-radius: 50%;
 
}

.row{
  margin: 0 auto;
  width: 800px;
  min-height: 500px;
  
}


.row{
  background-image: url('https://images.pexels.com/photos/984540/pexels-photo-984540.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}