.game-rules {
    background-color:rgba(230, 83, 16, 0.342);
}

h3 {
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 20px 10px;
}
.portletHeader {
    margin-top:20px;
}

.gameRuleDesc {

    padding:0px,40px,0px,40px;

}

