.game-board{ 
  display: flex;
}

.game-window{
  display: flex;
  max-width: 100%;
  margin: auto;
}

.empty-slot{
  padding-top: calc(100%);
  border: 1px solid black;
  background-color:white;
  border-radius: 50%;
  cursor:pointer;
}

.slot{
  padding:0;
}

.empty-column{
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: left;
  width: 80px;
  background-color: darkcyan;
}


