.hiscorepage{

    h1{
        text-align: center;
        color:red;
    }

    .rank{
        display:inline-block;
    }

    .rank p{
        margin:0;
    }

    .score, .name, h4{
        display:inline-block;
    }
}