.hiscorepage{
  text-align: center;
  background-color: rgba(217, 199, 155, 0.8);
  box-shadow: 0px 0px 5px 3px white;
  h1{
    text-align: center;
  }
  .rank {
    padding:0;
    p {
      margin:10px;
      margin-right: 0;
      margin-left: 0;
      padding-bottom: 5px;
      border-bottom: 1px solid black;
    }
  }

  .player{
    margin-left: 0;
  }

  .name, .score{
  margin-top:10px;
  margin-left: 0;
  padding-bottom:5px;
  border-bottom: 1px solid black;
  }

}