/* Style winner-modal and equal-modal */

.modal-content{
    background-image: url("/images/background-modal.jpg");
    background-size: cover;
    height: 500px;
    width: 632px;
    margin-left: -66px;

    .modal-header{
        border: none;


        .modal-title{
            font-size: 65px;
            font-family: snowyText;
            text-align: center;
            width: 100%;
            margin-top: 113px;
            background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.modal-body{
    text-align: center;

    .final-line{
        font-family: chrissyText;
        font-size: 20px;
        font-weight: bold;
        background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.modal-footer{
    border: none;
    position: relative;


    .restartButton{
        background: none;
        position: absolute;
        top: 40px;
        right: 9%;
        width: 181.98px;
        padding: 12px;
        border: none;
        font-size: 41px;
        font-family: snowyText;
        color: white;
    }

    .link-button{
        background: none;
        position: absolute;
        top: 40px;
        left: 1%;
        padding: 12px;
        border: none;
        font-size: 41px;
        font-family: snowyText;
        color: white;
    }

    .restartButton:hover, .link-button:hover{
        text-decoration: underline;
    }
}

/* Style characters-modal and type-modal */

.modal-content-name, .modal-content-type{
     background-image: url("/images/flakes-bg.jpg");
     background-size: cover;
     border-radius: 50%;
     height: 441px;

    .header-validate-name, .header-choose-type{
        border: none;
    }
}

.modal-body-validate, .modal-body-type{
    display: flex;
    justify-content: center;
    position: relative;

    .val-content, .type-content{
        position: absolute;
        color: red;
        margin-top: 131px;
        font-size: 30px;
        font-family: snowyText;

    }
}

/* Galaxy S5 portrait */

 @media only screen
  and (min-device-width: 360px)
  and (max-device-width: 640px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
      .win-modal .modal-title{
          font-size: 82px;
      }

      .final-line{
        font-size: 51px;
          margin-bottom: 124px;
      }
    }