nav{
  div{
    li{
      width: 18vw;
      margin: 10px 0 0 50px;
     
      a{
        color: black;
        font-size: 14px;
        text-align: center;
    
      }
    }
  }
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active{
background-color:#d9c79b;
}

@media screen and (max-width: 992px) {
  li.nav-item{
   
    margin:  0 auto;
  }
}