nav{
  div{
    li{
      width: 18vw;
      margin: 10px 0 10px 50px;
      
      a{
        text-align: center;
    
      }
    }
  }
}



// .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active{

// }




  
