.col-wrapper{
    background: rgba(255,255, 255, 0.4 );
    border-radius: 50%;
    width: 340px;
    height: 340px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ccc;
}

.type-wrapper:focus{
 box-shadow: none;
    border-color: #ccc;
}

.players-h3{
    font-family: snowyText;
    color: red;
}

.btn-style-form{
    font-family: snowyText;
    font-size: 19px;
}


