// .type-name{
//     border-width: 9px;
//     border-image: repeating-linear-gradient(30deg, red, green, red 12px) 10;
// }

input:focus{
    outline: 0px;
}

.players{
    font-family: snowyText;
    color: red;
}

.btn-style-form{
    font-family: snowyText;
    font-size: 19px;
}